<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAYUSH-ADITI</title>
    <link rel="stylesheet" href="styles/main.css">

</head>
<body>
    <div class="main-page">
        <div class="im_inside">
            <img src="/images/i5.jpg">
        </div>
        <div class="photo">
            <img src="/images/img2.jpg">
        </div>
        <div class="letter">
            Hey, I love you so so so much, more than you will ever know. You are the best thing that ever happened to me and I always want you to achieve eveything that you ever dreamt of. Never ever stop and let go of your dream because I will always stand by you, no matter what.<br> I love you.
        </div>
        <a href="/" class="btn">Home</a>
        <div style="position: absolute; top: 10vh; left: 5vw; font-size: 1.8rem; color: rgb(67, 42, 42); font-weight: bolder;">You Answered <%=score%> Correctly Out Of 8 Questions.</div>
    </div>
</body>
</html>