<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="main-page">
        <div class="im_inside">
            <img src="/images/i5.jpg">
        </div>
        <form action="/login" method="post" class="login-form">
             <div class="name">
                <label for="name">NAME</label>
                <input id="name" type="text" name="username" placeholder="ENTER YOUR NAME">
             </div>
            <div class="name">
                <label for="password">PASSWORD</label>
                <input id="password" type="password" name="password">
            </div>
            <div class="name"><button type="submit">Login</button></div>
        </form>
    </div>
</body>
</html>