<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAYUSH-ADITI</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="main-page">
        <div class="im_inside">
            <img src="/images/i5.jpg">
        </div>
        <div class="ans">
            <% if(isCorrect==1) {%>
                The Answer Is Correct, Yayyyy 😘😘
            <% } else{ %>
                Wrong Answer 🥺🥺
            <% } %>
        </div>
        <div class="result-img">
            <% if(isCorrect==1) {%>
                <img src="/images/correct.jpg">
            <% } else{ %>
                <img src="/images/wrong.jpg">
            <% } %>
        </div>
        <a href="/quiz" class="NxtBtn">NEXT</a>
    </div>
</body>
</html>