body{
    overflow: hidden;
}
.main-page{
    position: absolute;
    top:0vh;
    left:0vw;
    /* border: 2px solid red; */
    height:100vh;
    width:99vw;
}

.left{
    position: absolute;
    top:15vh;
    left:12vw;
    border: 2px solid black;
    border-radius: 50%;
    height:70vh;
    width:70vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 1.3rem;
    overflow: hidden;
}

.right{
    position: absolute;
    top:25vh;
    right:8vw;
    /* border: 2px solid red; */
    height:50vh;
    width:40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.right a{
    text-decoration: none;
    font-size: 1.2rem;
    height: 5vh;
    width: 20vw;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: black;
}

.login-form{
    position: absolute;
    top:25vh;
    right:30vw;
    height:50vh;
    width:40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name{
    height: 8vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name button{
    width: 15vw;
    height: 5vh;
    border: 2px solid black;
    background-color: white;
    font-size: 1.3rem;
}

.left img{
    width: 100%;
    overflow: hidden;
}

.quiz-box{
    position: absolute;
    top:20vh;
    right:20vw;
    height:60vh;
    width:60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid red;
}

.ques{
    height:15vh;
    width:50vw;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.options form{
    height:35vh;
    width:50vw;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.options form button{
    /* position: absolute; */
    height:5vh;
    width:5vw;
    /* left: 47.5vw; */
}